<div class="registartion-form-grid">
    <div class=".col-md-">
        <span class="p-float-label">
            <input type="text" id="name" pInputText [(ngModel)]="name"> 
            <label for="name">Name</label>
        </span>
    </div>
    <div class="field col-12 md:col-8">
        <span class="p-float-label">
            <input type="text" id="dept" pInputText [(ngModel)]="Dept"> 
            <label for="dept">Dept</label>
        </span>
    </div>
    <div class="field col-12 md:col-8">
        <span class="p-float-label">
            <input type="text" id="mailid" pInputText [(ngModel)]="mailid"> 
            <label for="mailid">MailId</label>
        </span>
    </div>
    <div class="field col-12 md:col-8">
        <span class="p-float-label">
            <input type="text" id="state" pInputText [(ngModel)]="state"> 
            <label for="state">state</label>
        </span>
    </div>
    <button class="register">Register</button>
    </div>
